body {
  margin: 0;
  font-family: Ubuntu, Verdana, 'Verdana Ref', 'Lucida Grande',
    'Lucida Sans Unicode', 'DejaVu Sans', 'Bitstream Vera Sans',
    'Liberation Sans', Corbel, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
